apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: openobserve-secrets
  namespace: openobserve
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-store
    kind: SecretStore
  target:
    name: openobserve-secrets
    creationPolicy: Owner
  data:
    - secretKey: ZO_ROOT_USER_EMAIL
      remoteRef:
        key: ${secret_name}/eks/secrets
        property: ZO_ROOT_USER_EMAIL
    - secretKey: ZO_ROOT_USER_PASSWORD
      remoteRef:
        key: ${secret_name}/eks/secrets
        property: ZO_ROOT_USER_PASSWORD
    - secretKey: ZO_META_POSTGRES_DSN
      remoteRef:
        key: ${secret_name}/eks/secrets
        property: ZO_META_POSTGRES_DSN
    - secretKey: ZO_USAGE_REPORTING_CREDS
      remoteRef:
        key: ${secret_name}/eks/secrets
        property: ZO_USAGE_REPORTING_CREDS